/* Navbar.css */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.left {
  display: flex;
  align-items: center;
}

.searchbox {
  position: relative;

}

.searchbtn {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #aaa;
}

input[type="text"] {
  padding: 5px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 30px;
  width: 200%;

}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme_btn1 {
  color: var(--col2);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.linkstylenone {
  text-decoration: none;
  color: white;
}

.theme_icon1 {
  font-size: 2rem;
  margin-left: 20px; /* Increase margin for space between logo and profile icon */
}

.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}

.dropicon {
  font-size: 1.5rem;
  margin-left: 5px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  input[type="text"] {
    width: 200px;
  }
}
